* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.container {
  height: 300px;             
  background: #e5e5e5;
  
  display: flex;             
  justify-content: center;   
  align-items: center;       
}

.texto {
  font-size: 20px;
  font-weight: bold;
}
