* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  background: #f5f5f5;
  font-family: Arial, sans-serif;
}


.galeria {
  display: flex;
  flex-wrap: wrap;               
  justify-content: center;       
  gap: 20px;                     
}


.galeria img {
  width: 150px;                  
  height: auto;
  border-radius: 10px;
}
